<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - A4 Soluciones Corporativas</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <div class="nav-container">
      <div class="logo">
        <img src="a4.png" alt="Logo A4 Soluciones Corporativas">
      </div>
      <div class="menu">
        <a href="index.html" class="active">Inicio</a>
        <a href="login.html">Iniciar Sesion</a>
        <a href="cotizaciones.html">Cotizaciones</a>
        <a href="usuarios.html">Gestion de usuarios</a>
        <a href="clientes.html">Clientes</a>
        <a href="visitas.html">registro de visitas</a>
      </div>
    </div>
  </nav>

  <header>
    <h1>Bienvenido a A4 Soluciones Corporativas</h1>
    <p>Gestiona tus visitas, cotizaciones y más de manera eficiente.</p>
  </header>

  <section>
    <h2>Nuestros Servicios</h2>
    <p>Ofrecemos una amplia gama de servicios para optimizar la gestión de tus ventas y relaciones con clientes. Nuestro sistema avanzado te permite registrar visitas, gestionar cotizaciones y mantener una comunicación efectiva con tus clientes.</p>
  </section>

  <footer>
    <a href="#" target="_blank">&copy; 2024 A4 Soluciones Corporativas</a>
  </footer>
</body>
</html>
